In [2]:
numero1 = 1
numero2 = 2
numero3 = 3

In [5]:
numero1 > numero2

False

In [6]:
numero1 < numero2 and numero1 > numero3

False

In [7]:
numero3 == numero2

False

In [9]:
numero2 != numero1

True

In [18]:
altura1 = 1.51
altura2 = 2.02

In [19]:
suma = altura1 + altura2
print(suma)

3.5300000000000002

In [20]:
altura1 + altura2

3.5300000000000002

In [21]:
altura1 - altura2

-0.51

In [22]:
altura1 % altura2

1.51

In [33]:
round(altura1 / altura2,1)

0.7

In [4]:
nombre = input("Inserte nombre y apellido: ")

In [5]:
print(nombre.upper())

JESSICA MOREAUX

In [6]:
print(nombre.lower())

jessica moreaux

In [7]:
print(nombre.title())

Jessica Moreaux

In [8]:
print(nombre.capitalize())

Jessica moreaux

In [11]:
frase = input('Escribe una frase: ')
print(frase)

donde vives?

In [12]:
vocal = input('inserte una vocal: ')
print(vocal)

a

In [16]:
mayuscula = vocal.upper()
print(mayuscula)

A

In [17]:
print(frase + mayuscula)

donde vives?A

In [18]:
print(frase + vocal.upper())

donde vives?A

In [20]:
lista_de_compras = input("Ingrese lista de compras ")
comas = lista_de_compras.split()
print(comas)

['pan', 'harina', 'leche']

In [21]:
comas.join()

AttributeError: 'list' object has no attribute 'join'